<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PaleoWorld</title>
	<link rel="icon" href="./images/game/dino2.svg">
	<link rel="stylesheet" href="tw.css">
	<script src="/js/index.js"></script>
</head>

<body>

	<header class="py-8 z-[9999] fixed top-0 left-0 w-full">
		<div class="container mx-auto flex justify-between items-stretch">
			<div class="flex items-center gap-3 sm:w-[320px]">
				<img src="/images/game/dino2.svg" alt="" class="w-[44px] scale-x-[-1]" />
				<div class="text-5xl font-bold">PaleoWorld</div>
			</div>
			<div class="flex items-center gap-4 text-xl font-bold">
				<div class="px-5 cursor-pointer hover:text-blue-400 text-gray-600">Home</div>
				<div class="px-5 cursor-pointer hover:text-blue-400 text-gray-600">Gallery</div>
				<div class="px-5 cursor-pointer hover:text-blue-400 text-gray-600">Play</div>
			</div>
			<div class="sm:w-[320px] flex justify-end gap-10 text-xl font-bold">
				<button class="font-semibold cursor-pointer text-gray-600">Sign In</button>
				<button class="font-semibold cursor-pointer bg-blue-400 text-white rounded-full px-5 py-3">Sign Up</button>
			</div>
		</div>
	</header>

	<main>
		<!-- MARK: HERO -->
		<section class="relative py-56">
			<!-- Hero Images -->
			<div id="currentScene" class="absolute block w-[50%] h-auto top-0 right-0">
				<img id="scene_shape" src="/images/shape-04-v2.svg" alt="shape" class="top-0 right-0 absolute">
				<img src="/images/game/grass3.svg" alt="" class="absolute top-[350px] right-[460px] w-[100px] scale-x-[-1]" />
				<img src="/images/game/dino8.svg" alt="" class="absolute top-[200px] right-[230px] w-[270px]" />
				<img src="/images/game/grass3.svg" alt="" class="absolute top-[420px] right-[230px] w-[100px]" />
			</div>
			<!-- Hero Content -->
			<div class="container mx-auto">
				<div class="flex items-center">
					<div class="w-[50%]">
						<h1 class="text-gray-800 text-6xl leading-20 font-semibold mb-8">
							A world full of history and things to explore.
						</h1>
						<p class="text-lg font-semibold text-gray-400">
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Illo aliquid fugiat atque rerum hic reiciendis iure. Pariatur laudantium, delectus,
							voluptatem eveniet quas laborum consequatur,
							repellat itaque dolor illo fugit. Voluptates?
						</p>
						<div class="mt-10 flex gap-10 items-center">
							<a href="#" class="px-8 py-3 bg-blue-500 text-white text-2xl rounded-full hover:shadow-lg shadow-blue-500/30 transition-all">
								Play Now
							</a>
							<span class="flex flex-col text-xl">
								<div>v0.0.1</div>
								<div class="text-gray-400">Dinosaurs</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- MARK: Small Features -->
		<section class="">
			<div class="container mx-auto">
				<div class="flex gap-16 flex-row items-center justify-between">
					<div class="flex gap-5">
						<div class="text-white">
							<div class="bg-pink-400 w-[84px] h-[84px] rounded-full flex items-center justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-tree-deciduous">
									<path d="M8 19a4 4 0 0 1-2.24-7.32A3.5 3.5 0 0 1 9 6.03V6a3 3 0 1 1 6 0v.04a3.5 3.5 0 0 1 3.24 5.65A4 4 0 0 1 16 19Z" />
									<path d="M12 19v3" />
								</svg>
							</div>
						</div>
						<div>
							<h4 class="text-2xl font-semibold">Bioms</h4>
							<p class="text-gray-500 text-xl">A great variety of bioms to play with.</p>
						</div>
					</div>
					<div class="flex gap-5">
						<div class="text-white">
							<div class="bg-green-400 w-[84px] h-[84px] rounded-full flex items-center justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bone">
									<path d="M17 10c.7-.7 1.69 0 2.5 0a2.5 2.5 0 1 0 0-5 .5.5 0 0 1-.5-.5 2.5 2.5 0 1 0-5 0c0 .81.7 1.8 0 2.5l-7 7c-.7.7-1.69 0-2.5 0a2.5 2.5 0 0 0 0 5c.28 0 .5.22.5.5a2.5 2.5 0 1 0 5 0c0-.81-.7-1.8 0-2.5Z" />
								</svg>
							</div>
						</div>
						<div>
							<h4 class="text-2xl font-semibold">Species</h4>
							<p class="text-gray-500 text-xl">From great animals to small ones.</p>
						</div>
					</div>
					<div class="flex gap-5">
						<div class="text-white">
							<div class="bg-orange-400 w-[84px] h-[84px] rounded-full flex items-center justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dna">
									<path d="m10 16 1.5 1.5" />
									<path d="m14 8-1.5-1.5" />
									<path d="M15 2c-1.798 1.998-2.518 3.995-2.807 5.993" />
									<path d="m16.5 10.5 1 1" />
									<path d="m17 6-2.891-2.891" />
									<path d="M2 15c6.667-6 13.333 0 20-6" />
									<path d="m20 9 .891.891" />
									<path d="M3.109 14.109 4 15" />
									<path d="m6.5 12.5 1 1" />
									<path d="m7 18 2.891 2.891" />
									<path d="M9 22c1.798-1.998 2.518-3.995 2.807-5.993" />
								</svg>
							</div>
						</div>
						<div>
							<h4 class="text-2xl font-semibold">DNA</h4>
							<p class="text-gray-500 text-xl">Soon maybe...</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

</body>

</html>